# NodeJS
node_modules

# Builds
data
build

# Log files
*.log
*.tsbuildinfo

# Enviroment variables
.env
.env.dev

!docs/.env
!docs/.env.dev

# Visual Studio Code
.vscode

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.icloud
